
:root {
	--color-neutral-light:  #e1e1e1;
	--color-neutral-medium:  #c4c4c4;
	--color-neutral-dark:  #656565;

	--color-main-light:  #f9dcd8;
	--color-main-medium:  #fba38f;
	--color-main-dark:  #ee6c4d;

	--color-white: white;
	--color-black: #2E2E2E;

	--font-sans: 'Manrope', Helvetica, Arial, sans-serif;

	--header-height:  3rem;
	--footer-height:  3.5rem;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--font-sans);
	color: var(--color-black);
}


/*Core Element*/
a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}



/* Layout Classes */

.hidden {display: none;}

.display-flex {display: flex;}
.display-inline-flex { display: inline-flex; }
.display-block {display: block;}
.display-inline-block {display: inline-block;}

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }



.overscroll {overflow: auto;}
.overscroll-x { overflow-x: auto; }
.overscroll-y { overflow-y: auto; }

.fill-parent {
   width: 100%;
   height: 100%;
}

.centered { text-align:center; }
.small { font-size: 0.8em; }

.padding-sm { padding:0.5em; }
.padding-md { padding:1em; }
.padding-lg { padding:2em; }

/*Page Element*/

.ui-mobile .ui-page-active {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

[data-role="main"] {
	flex: 1 1 100%; /*stretch flex as much as possible*/
	position: relative;
	overflow: hidden;
}

[data-role="header"] {
	flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: var(--color-white);
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   position: relative;
   overflow: hidden;
   z-index: 2;
}

[data-role="footer"] {
	flex: none;
   height: var(--footer-height);
   line-height: var(--footer-height);
   border-width: 0;
   background-color: var(--color-white);
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   position: relative;
   overflow: hidden;
   z-index: 1;
}

[data-role="header"] ul,
[data-role="footer"] ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   
}

[data-role="footer"] li {
   flex: 1 1 auto;
   text-align: center;
   color: var(--color-neutral-dark);
}


[data-role="header"] a,
[data-role="footer"] a {
   display: block;
}

[data-role="header"] a {
   padding: 0 0.7em;
   font-size: 1em;
}


.ui-header .ui-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   margin: 0;
   font-size: 1rem;
   padding: 0;
   color: var(--color-main-dark);
}



/*Form Element*/

.form {}
.form-control {
	margin: 1em 0;
}
.signin-form .form-input {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
}
.form-input {
	width: 100%;
	display: inline-block;
	border: 1px solid var(--color-neutral-medium);
	margin: 0;
	padding: 0.5em 1em;
	border-radius: 0.3em;
	outline: 0;
	font: inherit;
}


.ui-input-btn,
.form .form-button, 
.form-button {
	width: 100%;
	display: inline-block;
	border-width: 0;
	background-color: var(--color-main-dark);
	color: white;
	margin: 0;
	padding: 0.5em 1em;
	border-radius: 2em;
	outline: 0;
	font: inherit;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
	-webkit-appearance: none;
}
.ui-mobile .form-label {
	font-size: 0.8em;
	color: var(--color-neutral-dark);
	margin: 1rem 0 0.3rem;
}
.form-select select {
    background-color: var(--color-neutral-light);
    border-width: 0;
    padding: 0.5em 1em;
    font: inherit;
    border-radius: 4px;
    width: 100%;
    -webkit-appearance: none;
}
.form-select {
   position: relative;
}
.form-select::after {
   content: '▼';
   position: absolute;
   right: 0.5em;
   top: 50%;
   transform: translateY(-50%);
   font-size: 0.8em;
   color: var(--color-neutral-medium);
}


/*my own*/
.ui-input-text, .ui-input-search{
	background-color: white;
	outline: 0;
	border-radius: 2em;
	border-style: none;
	font: inherit;
	padding: 0.5em 1em;
	box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
	font: inherit;
	margin: 1.25em 1em 0 1em;
	color: var(--color-black);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--color-neutral-medium);
}

.ui-input-search input {
    padding-left: 2.5em;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
}


/* ANIMAL PROFILE */
.animal-profile-top {
   flex: none;
   height: 40vh;
   position: relative;
}
.animal-profile-bottom {
   flex: 1 1 auto;
   position: relative;
}
.animal-profile-bottom .section {
   display: none;
}
.animal-profile-bottom .section.active {
   display: block;
}
.animal-profile-middle li.active {
   background-color: var(--color-main-light);
}
.js-animal-delete {
	text-decoration: underline;
}

#animal-add-gender {

}

.search-bar {
   box-shadow: none;
   z-index: 2;
   padding: 0.2em 0.85em;
}
.filter-bar {
   display: flex;
   padding: 0 1em;
   padding-bottom: 1.0.5em;
   width: 100%;
   overflow-x: auto;
   gap: 1em;
}
.filter-bar a {
   padding: 0;
}


/*.filter-bar {
	padding: 0.2em 0.5em;
}
*/

.hotdog {
	padding: 0.5em 1em;
	display: inline-flex;
	width: 100%;
	border-radius: 2em;
	position: relative;
	box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
}
	.hotdog.white {
	background-color: var(--color-white);
	}
	.hotdog.medium {
	background-color: var(--color-neutral-light);
	}
	.hotdog input {
      border-width: 0;
      background-color: transparent;
      border-radius: 0;
      -webkit-appearance: none;
      font: inherit;
      color: inherit;
      outline: 0;
      flex: 1 1 auto;
      padding: 0;
      margin: 0;
      line-height: 1;
   }
   .search-bar .hotdog {
      height: 100%;
   }




.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-image: url(../img/map.png);
	background-size: cover;
	background-position: center;*/
}

/*Circle Button*/

.btn-circle {
	display: inline-block;
	background-color: var(--color-main-dark);
	color: var(--color-white);
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	font-size: 2rem;
	border-radius: 2em;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}


.back-btn-circle {
	display: inline-block;
	background-color: var(--color-white);
	color: var(--color-neutral-dark);
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.3rem;
	text-align: center;
	font-size: 1.75rem;
	border-radius: 2em;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.image-btn-circle {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.9);
	width: 2.85rem;
	height: 2.85rem;
	line-height: 2rem;
	text-align: center;
	font-size: 1.5em;
	border-radius: 2em;
	padding-top: 0.45rem;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}


/*floater*/
.floater {position: absolute;}
.floater.left {left: 1em;}
.floater.right {right: 1em;}
.floater.bottom {bottom: 1em;}
.floater.top {top: 1em;}



/*MODAL*/
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s;
}
.modal.active {
	pointer-events: initial;
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}



/*MODAL POPUP*/
.modal-popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,calc(-50% + 3em));
	border-radius: 5px;
	width: 80vmin;
	overflow: hidden;
	transition: all 0,3s;
}

.modal-body {
	padding: 10px;
	background-color: var(--color-white);
}
.modal-head{
	background-color: var(--color-main-light);
	text-align: center;
	font-size: 1.1em;
	font-weight: 500;
}
.modal-head h4{
	margin: 0;
	padding: 0.7em 0 0.7em 0;
	color: var(--color-main-dark);
}
.modal-foot {
	background-color: var(--color-white);
	padding: 0.5em 1em 1em 1em;
}
.modal-head,
.modal-foot {
	line-height: 2rem;
	border-style: none;
	outline: 0;
}
.modal.active .modal-popup {
	transform: translate(-50%,-50%);
}



/*Modal Drawer*/
.modal-drawer {
	position: absolute;
	display: flex;
	flex-direction: column;
	transition: all 0.3s;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 40vh;
   width: 100%;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
}


.modal-drawer .modal-body {
   flex: 1 1 100%;
}


/*ICONS*/
.icon {
   width: 1em;
   height: 1em;
   display: inline-block;
}

.nav-icon-set {
   height: var(--footer-height);
}

.nav-icon {
   display: block;
   line-height: 2rem;
   font-size: 1.5rem;
}
.nav-icon .icon {
   vertical-align: middle;
}
.nav-icon-label {
   display: block;
   line-height: 1rem;
   font-size: 0.7rem;
   color: var(--color-neutral-dark);
}
.nav-icon-set li.active {
   background-color: var(--color-main-light);
  	
}
.nav-icon-set .nav-icon-label li.active {
	color: var(--color-main-dark);
}




/*PROFILE*/
.user-profile-image img{
	background-color: var(--color-neutral-light);
	height: 30vh;
   width: 30vh;
   border-radius: 10em;
	background-position: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	background-size: cover;
	background-repeat: no-repeat;
}


.user-profile-image{
	margin: auto;
	padding-top: 2.5em;
	background-size: cover;
	background-position: center;
}
.profile-detail {
	text-align: center;
}
.user-profile-name {
	color: var(--color-main-dark);
	font-size: 2em;
}
.nav-page-links{
	margin-block-start: 0.25em;
	padding-inline-start: 0;
}
.nav-page-links li {
	list-style: none;
	font-size: 1.2em;
	line-height: 3em;
	padding: 0.25em 0;
	border-bottom: solid 0.5px var(--color-neutral-medium);
}
.nav-page-links a {
	padding-left: 1em;
}



.wrapper {
	position: relative;
	width: 100%;
	height: 60%;
	/*box-shadow: 0px -2px 6px rgb(0 0 0 / 0.1);*/
	z-index: 1;
	background-color: var(--color-white);
}

.signin-background {
	/*background-color: #fff0ee;*/
	background-image: url(../img/splash-image.png); /*image: Freepik.com*/
	background-size: cover;
	background-position: center;
	position: absolute;
	width: 100%;
   height: 45%;
   z-index: 0;
}


/* ANIMAL LIST */
.animallist {
   list-style-type: none;
   margin: 0;
   padding: 0.35em 1em 1em 1em;
}
.animallist-item~.animallist-item {
   margin-top: 0.85em;
}

.animallist-item a {
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    border-radius: 1em;
    overflow: hidden;
    font-weight: normal;
}
.animallist-item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    vertical-align: middle;
}
.animallist-item-description {
}
.animallist-item-name {
   font-size: 1.15em;
   font-weight: 700;
   margin-bottom: 0.25em;
   color: var(--color-main-dark);
}
.animallist-item-type,
.animallist-item-breed,
.animallist-item-color {
   font-size: 0.85em;
}



/* ANIMAL PROFILE */
.dog-image {
	flex: none;
	background-color: var(--color-neutral-light);
	height: 30vh;
}
.dog-image img {
	height: 30vh;
	width: 100%;
	object-fit: cover;
	vertical-align: middle;
}
.dog-description {
	padding-top: 0.85em;
}
.dog-description p {
	margin-top: 0.4em;
	margin-bottom: 0.85em;
}
.dog-profile-name{
	 font-size: 1.65em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.55em;
    color: var(--color-main-dark);
    padding-top: 0.25em;
}
.dog-profile-color, .dog-profile-breed, .dog-profile-gender, .dog-profile-info {
	font-size: 1em;
}
.dog-profile-color, .dog-profile-breed, .dog-profile-gender {
	margin-bottom: 0.5em;
}

.animal-profile-bottom {
   flex: 1 1 auto;
   position: relative;
}

.animal-profile-top {
   flex: none;
   height: 40vh;
   position: relative;
}
.animal-profile-bottom {
   flex: 1 1 auto;
   position: relative;
}
.animal-profile-bottom .section {
   display: none;
}
.animal-profile-bottom .section.active {
   display: block;
}
.animal-profile-middle li {
	background-color: var(--color-neutral-light);
}
.animal-profile-middle li.active {
   background-color: var(--color-main-light);
   font-weight: 700;
}


/* GENERIC NAV */
.nav {
   list-style-type: none;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   display: flex;
}
.nav li {
   flex: 1 1 auto;
   padding: 0 1em;
   text-align: center;
   line-height: var(--header-height);
}



.back-btn {
	font-size: 1.5em;
}


/*.image-picker.replace {
   position: absolute;
   top: 0;
   left: 0;
   width: 90%;
   height: 100%;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}*/

.replace-profile{
	background-color: var(--color-neutral-light);
	height: 30vh;
   width: 30vh;
   border-radius: 10em;
   vertical-align:middle;
	box-shadow:0 0.15em 0.35em 0.1em rgba(0,0,0,0.2);
	margin: 2em;
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.replace {
  position:relative;
  display:inline-block;
  width:15em;
  height:15em;
  margin: auto;
  border-radius:0.85em;
  /*border:0.25em solid white;*/
  vertical-align:middle;
  box-shadow:0 0.15em 0.35em 0.1em rgba(0,0,0,0.2);
  margin:0.5em;
  background-position:center;
  background-size:cover;
  background-image: url(../img/plus.png);
  background-color: var(--color-neutral-light);
 }
.image-picker.replace-profile input {
   display: none;
}

.image-picker.replace input {
   display: none;
}

.thumbnail {
  position:relative;
  display:inline-block;
  width:6em;
  height:6em;
  border-radius:0.6em;
  border:0.25em solid white;
  vertical-align:middle;
  box-shadow:0 0.15em 0.35em 0.1em rgba(0,0,0,0.2);
  margin:0.5em;
  background-image: url(../img/plus.png);
  background-color: var(--color-neutral-light);
  background-position:center;
  background-size:cover;
}
.thumbnail input {
   display: none;
}
/*.floating-header {
   position: absolute;
   background-color: rgba(255,255,255,0.15);
   width: 100%;
   top: 0;
   left: 0;
   box-shadow: none;
}*/


.next-button {

}


.description {
	padding-top: 0.5em;
	padding-right: 1.05em;
	padding-left: 1.25em;
	padding-bottom: 1em;
}
