
:root {
	--color-neutral-light:  #e1e1e1;
	--color-neutral-medium:  #c4c4c4;
	--color-neutral-dark:  #656565;

	--color-main-light:  #f9dcd8;
	--color-main-medium:  #fba38f;
	--color-main-dark:  #ee6c4d;

	--color-white: white;
	--color-black: #2E2E2E;

	--font-sans: 'Manrope', Helvetica, Arial, sans-serif;

	--header-height:  3rem;
	--footer-height:  3.5rem;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--font-sans);
	color: var(--color-black);
}


/*Core Element*/
a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}



/* Layout Classes */

.hidden {display: none;}

.display-flex {display: flex;}
.display-inline-flex { display: inline-flex; }
.display-block {display: block;}
.display-inline-block {display: inline-block;}

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }



.overscroll {overflow: auto;}
.overscroll-x { overflow-x: auto; }
.overscroll-y { overflow-y: auto; }

.fill-parent {
   width: 100%;
   height: 100%;
}

.centered { text-align:center; }
.small { font-size: 0.8em; }

.padding-sm { padding:0.5em; }
.padding-md { padding:1em; }
.padding-lg { padding:2em; }

/*Page Element*/

.ui-mobile .ui-page-active {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

[data-role="main"] {
	flex: 1 1 100%; /*stretch flex as much as possible*/
	position: relative;
	overflow: hidden;
}

[data-role="header"] {
	flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: var(--color-white);
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   position: relative;
   overflow: hidden;
   z-index: 2;
}

[data-role="footer"] {
	flex: none;
   height: var(--footer-height);
   line-height: var(--footer-height);
   border-width: 0;
   background-color: var(--color-white);
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   position: relative;
   overflow: hidden;
   z-index: 1;
}

[data-role="header"] ul,
[data-role="footer"] ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   
}

[data-role="footer"] li {
   flex: 1 1 auto;
   text-align: center;
   color: var(--color-neutral-dark);
}


[data-role="header"] a,
[data-role="footer"] a {
   display: block;
}

[data-role="header"] a {
   padding: 0 0.7em;
   font-size: 1.5em;
}


.ui-header .ui-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   margin: 0;
   font-size: 1rem;
   padding: 0;
   color: var(--color-main-dark);
}



/*Form Element*/

.form {}
.form-control {
	margin: 1em 0;
}
.signin-form .form-input {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
}
.form-input {
	width: 100%;
	display: inline-block;
	border: 1px solid var(--color-neutral-medium);
	margin: 0;
	padding: 0.5em 1em;
	border-radius: 0.3em;
	outline: 0;
	font: inherit;
}
.ui-input-btn,
.form .form-button, 
.form-button {
	width: 100%;
	display: inline-block;
	border-width: 0;
	background-color: var(--color-main-dark);
	color: white;
	margin: 0;
	padding: 0.5em 1em;
	border-radius: 2em;
	outline: 0;
	font: inherit;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
	-webkit-appearance: none;
}
.ui-mobile .form-label {
	font-size: 0.8em;
	color: var(--color-neutral-dark);
	margin: 1rem 0 0.3rem;
}
.ui-input-text, .ui-input-search{
	background-color: white;
	outline: 0;
	border-radius: 2em;
	border-style: none;
	font: inherit;
	padding: 0.5em 1em;
	box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
	font: inherit;
	margin: 1.25em 1em 0 1em;
	color: var(--color-black);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--color-neutral-medium);
}

.ui-input-search input {
    padding-left: 2.5em;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
}





.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-image: url(../img/map.png);
	background-size: cover;
	background-position: center;*/
}

/*Circle Button*/

.btn-circle {
	display: inline-block;
	background-color: var(--color-main-dark);
	color: var(--color-white);
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	font-size: 2rem;
	border-radius: 2em;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}


.back-btn-circle {
	display: inline-block;
	background-color: var(--color-white);
	color: var(--color-neutral-dark);
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.3rem;
	text-align: center;
	font-size: 1.75rem;
	border-radius: 2em;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}


/*floater*/
.floater {position: absolute;}
.floater.left {left: 1em;}
.floater.right {right: 1em;}
.floater.bottom {bottom: 1em;}
.floater.top {top: 1em;}



/*MODAL*/
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s;
}
.modal.active {
	pointer-events: initial;
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}



/*MODAL POPUP*/
.modal-popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,calc(-50% + 3em));
	border-radius: 5px;
	width: 80vmin;
	overflow: hidden;
	transition: all 0,3s;
}

.modal-body {
	padding: 10px;
	background-color: var(--color-white);
}
.modal-head{
	background-color: var(--color-main-light);
	text-align: center;
	font-size: 1.1em;
	font-weight: 500;
}
.modal-head h4{
	margin: 0;
	padding: 0.7em 0 0.7em 0;
	color: var(--color-main-dark);
}
.modal-foot {
	background-color: var(--color-white);
	padding: 0.5em 1em 1em 1em;
}
.modal-head,
.modal-foot {
	line-height: 2rem;
	border-style: none;
	outline: 0;
}
.modal.active .modal-popup {
	transform: translate(-50%,-50%);
}



/*Modal Drawer*/
.modal-drawer {
	position: absolute;
	display: flex;
	flex-direction: column;
	transition: all 0.3s;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 40vh;
   width: 100%;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
}


.modal-drawer .modal-body {
   flex: 1 1 100%;
}


/*ICONS*/
.icon {
   width: 1em;
   height: 1em;
   display: inline-block;
}

.nav-icon-set {
   height: var(--footer-height);
}

.nav-icon {
   display: block;
   line-height: 2rem;
   font-size: 1.5rem;
}
.nav-icon .icon {
   vertical-align: middle;
}
.nav-icon-label {
   display: block;
   line-height: 1rem;
   font-size: 0.7rem;
   color: var(--color-neutral-dark);
}
.nav-icon-set li.active {
   background-color: var(--color-main-light);
  	
}
.nav-icon-set .nav-icon-label li.active {
	color: var(--color-main-dark);
}




/*PROFILE*/
.profile-pic {
	background-color: var(--color-neutral-light);
	height: 25vh;
   width: 25vh;
   border-radius: 7em;
   margin: 3.4em auto 2em;
   background-image: url(../img/profile-pic.png);
   background-size: cover;
	background-position: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.profile-detail {
	text-align: center;
}




.wrapper {
	position: relative;
	width: 100%;
	height: 60%;
	/*box-shadow: 0px -2px 6px rgb(0 0 0 / 0.1);*/
	z-index: 1;
	background-color: var(--color-white);
}

.signin-background {
	/*background-color: #fff0ee;*/
	background-image: url(../img/splash-image.png); /*image: Freepik.com*/
	background-size: cover;
	background-position: center;
	position: absolute;
	width: 100%;
   height: 45%;
   z-index: 0;
}


/* ANIMAL LIST */
.animallist {
   list-style-type: none;
   margin: 0;
   padding: 0.35em 1em 1em 1em;
}
.animallist-item~.animallist-item {
   margin-top: 0.85em;
}

.animallist-item a {
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    border-radius: 1em;
    overflow: hidden;
    font-weight: normal;
}
.animallist-item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    vertical-align: middle;
}
.animallist-item-description {
}
.animallist-item-name {
   font-size: 1em;
   font-weight: 700;
   margin-bottom: 0.25em;
}
.animallist-item-type,
.animallist-item-breed {
   font-size: 0.85em;
}



/* ANIMAL PROFILE */
.dog-image {
	flex: none;
	background-color: var(--color-neutral-light);
	height: 30vh;
}
.dog-image img {
	height: 30vh;
	width: 100%;
	object-fit: cover;
	vertical-align: middle;
}
.dog-description {
	padding: 1em 2em 1em 2em;
}
.dog-profile-name{
	 font-size: 1.65em;
    font-weight: 700;
    margin-bottom: .25em;
    color: var(--color-main-dark);
}
.dog-profile-color, .dog-profile-breed, .dog-profile-gender, .dog-profile-info {
	font-size: 0.85em;
}
.dog-profile-color, .dog-profile-breed, .dog-profile-gender {
	margin-bottom: 0.5em;
}

.animal-profile-bottom {
   flex: 1 1 auto;
   position: relative;
}


/*.floating-header {
   position: absolute;
   background-color: rgba(255,255,255,0.15);
   width: 100%;
   top: 0;
   left: 0;
   box-shadow: none;
}*/

 
